<%- include("./partials/header") %>

  <main class="w-full h-[100vh]">
    <!-- NavBar Div-->
    <div class="w-full fixed h-[8vh] z-999 bg-pink-800 top-0 left-0"><%- include("./partials/headerOptions") %></div>

    <div class=" flex h-[92vh] mt-20">
      <!-- Left side bar -->
      <div class="w-[18vw]  border-r-[0.2px] shadow-xl h-[100%] pl-4 space-y-6">
        <!-- top Account setting div -->
        <div>
          <h1 class="font-semibold text-lg">Account Setting</h1>
        </div>
        <!-- bottom left side bar -->
        <div class=" space-y-4">
          <div
            class=" hover:shadow-md transition ease-in-out duration-500 flex gap-2 items-center text-amber-400 bg-gray-50 py-2">
            <i class="fa-solid fa-user"></i>
            <p>Edit Profile</p>
          </div>
          <div class=" hover:shadow-md transition ease-in-out duration-500 flex gap-2 items-center py-2">
            <i class="fa-solid fa-lock"></i>
            <p>Privacy Settings</p>
          </div>
          <div class=" hover:shadow-md transition ease-in-out duration-500 flex gap-2 items-center py-2">
            <i class="fa-solid fa-bell"></i>
            <p>Notification Setting</p>
          </div>
          <div class=" hover:shadow-md transition ease-in-out duration-500 flex gap-2 items-center py-2">
            <i class="fa-solid fa-palette"></i>
            <p>Personal Details</p>
          </div>

        </div>

      </div>

      <!-- main content right side-->
      <div class="w-[82vw] py-2 h-[100%]  flex flex-col items-center gap-5 overflow-hidden box-border">
        <h1 class="h-[5vh] font-bold text-2xl w-full  text-center">Edit Profile</h1>

        <!-- personal info are  -->
        <form action="/user/editProfile" method="post" class="space-y-4">
          <div
            class="w-[60vw] border border-gray-300 space-y-1 px-5 py-4 rounded-sm flex-col transition ease-in-out duration-500 flex justify-start hover:shadow-md h-[30vh]">

            <h1 class="text-2xl font-bold">Personal Information</h1>
            <p>Name*</p>
            <input class="p-1.5 border border-gray-300  w-[50vw] rounded-md" type="text" name="name"
              value="<%=user.fullName%>">
            <p>Bio*</p>
            <input class="p-1.5 border border-gray-300 w-[50vw] rounded-md" type="text" value="<%=user.bio%>"
              name="bio">
          </div>

          <div class="w-full flex justify-end gap-3 pr-[12vw]">
            <div onclick="reverse(this)"
              class="px-4 hover:shadow-md transition ease-in-out duration-500  py-2 rounded-md bg-zinc-500 text-white">
              Discard</div>
            <button onclick="editProfile(this)"
              class="px-4 hover:shadow-md transition ease-in-out duration-500  py-2 rounded-md  bg-green-300 text-white ">Save</button>
          </div>
        </form>
      </div>
    </div>

    </div>
  </main>
  <script src="../javascripts/edit.js"></script>
  <%- include("./partials/footer") %>