<%- include("./partials/header") %>
    <div id="mediaModal" class="fixed inset-0 z-50 bg-black/60 backdrop-blur-sm flex items-center justify-center">
        <div class="w-[75vw] h-[90vh] bg-red-500 col-start-2 flex absolute top-10 left-40 z-999 shadow-md ">
            <div id="mediaContent" class="w-[50%] h-full bg-amber-400">
                <% if(post.video){%>
                    <video autoplay muted playsinline class="w-full h-[90vh] object-cover">
                        <source src="data:video/mp4;base64,<%= post.video.toString('base64') %>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>


                    <% } else{%>
                        <img src="data:image/jpeg;base64,<%= post.image?.toString('base64') %>" alt="Post Image"
                            class="w-full h-[90vh] object-cover" />
                        <%}%>

            </div>
            <div class="w-[50%] h-full bg-blue-400">
                <div class="w-full h-[10vh] flex px-5 box-border items-center gap-4 ">
                    <div class="w-[3vw] h-[3vw] rounded-full border-2 border-white"></div>
                    <div class="flex flex-col text-base/6">
                        <span class=" text-lg font-bold leading-3 font-serif">
                           
                        </span>
                        <span>Song</span>
                    </div>
                </div>
                <hr>
                <h1>
                    <%=post.caption%>
                </h1>
            </div>
        </div>
    </div>
    <!-- <script src="../public/javascripts/main.js"></script> -->
    <%- include("./partials/footer") %>